@use '../variables' as v;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$theme-background-color;
    color: black;
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

/* Title & Introduction Part */
.title-introduction {
    padding-top: 20vh;
    padding-bottom: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: transform 1.5s ease, opacity 1.5s ease;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 0.04em;
        margin: 2rem 0;
        color: v.$theme-text-color;
    }

    p {
        font-size: 1.5rem;
        color: v.$theme-text-color;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

#github-explore {
    margin-top: v.$button-margin;
    height: calc(v.$button-padding-top * 2 + v.$button-font-size);
}

/* Details Part of Notes */
.details img {
    width: 40%;
    height: auto;
}

.details h2 {
    font-size: 3rem;
    letter-spacing: 0.04em;
    color: v.$theme-text-color;
}

.details p {
    font-size: 1.5rem;
}

/* Introduction, Notes, Author, Summary Active */
.introduction,
.notes-container,
.author,
.summary {
    padding: 80px 80px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    opacity: 0;
    transition: transform 1.5s ease, opacity 1.5s ease;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Text Decorator Animation */
.text {
    padding-bottom: 40px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: gray;
        transition: width 1s ease;
    }
}

.introduction:hover .text::after,
.notes-container:hover .text::after,
.author:hover .text::after {
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        padding-right: 32px;
    }
}

.introduction-text {
    align-items: center;
    justify-content: center;
}

.notes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        padding-left: 32px;
    }
}

.notes-container-text {
    align-items: center;
    justify-content: center;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        padding-right: 32px;
    }
}

.author-text {
    align-items: center;
    justify-content: center;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px;
    padding-top: 100px;

    h2 {
        font-size: 3rem;
        letter-spacing: 0.07em;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .title-introduction h1 {
        font-size: 3rem;
    }
    .title-introduction p {
        font-size: 1.2rem;
    }

    .details h2 {
        font-size: 2.5rem;
    }
    .details p {
        font-size: 1.2rem;
        padding-bottom: 30px;
    }

    .introduction,
    .notes-container,
    .author,
    .summary {
        padding: 60px;
        width: 95%;
    }

    .summary h2 {
        font-size: 2.5rem;
    }

    .summary p {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .title-introduction h1 {
        font-size: 2.5rem;
    }
    .title-introduction p {
        font-size: 1.1rem;
    }

    .details h2 {
        font-size: 2rem;
    }
    .details p {
        font-size: 1rem;
        padding-bottom: 20px;
    }

    .introduction,
    .notes-container,
    .author,
    .summary {
        padding: 40px;
        width: 95%;
    }

    .introduction,
    .notes-container,
    .author{
        flex-direction: column;
    }

    .introduction img,
    .notes-container img,
    .author img {
        padding: 0 0 20px;
    }

    .summary h2 {
        font-size: 2rem;
    }

    .summary p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .title-introduction h1 {
        font-size: 2rem;
    }
    .title-introduction p {
        font-size: 1rem;
    }

    .details h2 {
        font-size: 1.7rem;
    }
    .details p {
        font-size: 0.9rem;
    }

    .introduction,
    .notes-container,
    .author,
    .summary {
        padding: 30px 20px;
    }
    .summary h2 {
        font-size: 1.7rem;
    }
    .summary p {
        font-size: 0.9rem;
    }
}