@use '../variables' as v;

.body {
    background-color: white !important;
}

/* Main Content */
.main-content {
    display: flex;
    flex: 1;
    width: 100%;
}

/* Notes Part */
.notes-content {
    background-color: white;
    margin-left: v.$sidebar-width;
    margin-right: v.$right-sidebar-width;
    flex: 1;
    padding: 48px 32px 0;
    box-sizing: border-box;
    overflow-x: auto;

    h1 {
        font-size: 44px;
        margin: 32px 0 0;
        padding: 40px 0 0;
    }

    h2 {
        font-size: 35px;
        margin: 64px 0 0;
    }

    h3 {
        font-size: 24px;
        margin: 48px 0 0;
    }

    h4 {
        font-size: 20px;
        margin: 32px 0 0;
    }

    h5 {
        font-size: 18px;
        margin: 28px 0 0;
    }

    p {
        font-size: 16px;
        margin: 24px 0 0;
    }

    ul,
    ol {
        margin: 24px 0 0;
        padding-left: 18px;
    }

    li {
        margin: 24px 0 0;
        padding-left: 8px;
    }

    a {
        font-size: 16px;
        color: v.$theme-text-color;
        box-sizing: border-box;
        padding: 20px 20px;
        margin: 24px 0;
    }

    a[href^="http://"], a[href^="https://"] {
        position: relative;
      
        &::after {
            content: '\2197'; 
            position: absolute;
            right: 0;
            top: 50%; 
            transform: translateY(-50%);
            color: #888; 
        }
    }

    code {
        padding: 2px 6px;
        border-radius: 3px;
        word-break: break-word;
    }

    button {
        font-size: 16px;
    }

    table {
        min-width: auto !important;
        width: 100%;
        text-align: center;
        margin: 24px 0 0;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid #d1d1d2;
            font-size: 16px;
            text-align: center !important;
            vertical-align: middle !important;
            padding: 8px;
        }

        th {
            background-color: #f4f4f4;
            padding: 16px;
        }

        td {
            padding: 16px;
        }
    }

    figcaption.header {
        font-family: v.$body-en-font !important;
        font-size: 16px !important;
    }

    code {
        font-family: v.$code-font !important;
        font-weight: normal !important;
        font-size: 16px !important;
        background-color: rgba(25, 25, 28, 0.05) !important;
    }

    div.expressive-code {
        padding-top: 24px;
        border-radius: 16px !important;
    }
}

#last-modified {
    font-size: 14px;
    color: #666;
    margin: 12px 0 32px;
}

/* Sidebar */
.sidebar {
    width: v.$sidebar-width;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: #f4f5f7;

    &-content {
        align-items: center;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;

        ul {
            list-style: none;
            gap: 0.25em;
            padding: 0;
            margin: 0;
        }
    }

    &-link {
        padding: 8px 1px 1px 1px;
        border-radius: 12px;
        width: 95%;
        height: 40px;
        transition: background-color 0.2s ease;
        margin: 4px auto;

        a {
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            color: #555861;
            transition: color 0.2s ease;
            display: block;
            padding: 8px 0;
        }

        &:hover {
            background-color: #e0e0e0;

            a {
                color: black;
            }
        }

        &.active-link {
            background-color: white;

            a {
                color: black;
            }
        }
    }
}

/* Right Sidebar */
.right-sidebar {
    width: v.$right-sidebar-width; 
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 30px;
    height: 100vh; 
    background-color: white;
    position: fixed; 
    top: 0;
    z-index: 0;
    right: 0; 
    overflow-y: auto;
    border-left: 1px solid #d1d1d2;

    &-content {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;

        h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            padding-left: 10px;
        }

        ul ul { 
            padding-left: 20px;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            text-decoration: none;
            color: #555861;
            display: block;
            padding: 4px 0;
            font-size: 0.9em; 

            &:hover {
                color: black;
            }
        }
    }
}

/* Footer Design */
.footer {
    margin-left: v.$sidebar-width;
    z-index: 2;
}