/**
 * This file is used to design custom components in markdown files.
 */

/* Table Design */
table {
    display: block;
    overflow-x: auto;
}

table.both tbody td:first-child {
    background-color: #f4f4f4;
}

span.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}