$theme-text-color: rgb(112, 75, 253);
$theme-background-color: rgba(245, 243, 253, 0.8);

// Font Variables
$header-en-font: 'Inter Display', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$body-en-font: 'Inter Text', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$header-zh-font: 'MiSans Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$body-zh-font: 'MiSans Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$code-font: 'JetBrains Mono', monospace;

// Button variables
$button-margin: 20px;
$button-padding-top: 1rem;
$button-padding-left: 2rem;
$button-font-size: 20px;

// Notes Page variables
$sidebar-width: 27vw;