$theme-text-color: rgb(112, 75, 253);
$theme-background-color: rgba(247, 245, 255, 0.8);

$header-en-font: 'Inter Display', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$body-en-font: 'Inter Text', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$header-zh-font: 'MiSans Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$body-zh-font: 'MiSans Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$code-font: 'JetBrains Mono', monospace;

$button-margin: 20px;
$button-padding-top: 1rem;
$button-padding-left: 2rem;
$button-font-size: 20px;

$sidebar-width: 20vw;
$right-sidebar-width: 18vw;