@use 'variables' as v;


@font-face {
    font-family: 'MiSans Regular';
    -webkit-font-feature-settings: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/MiSans/MiSans-Regular/MiSans-Regular.woff2') format('woff2'),
    url('/fonts/MiSans/MiSans-Regular/MiSans-Regular.woff') format('woff'),
    url('/fonts/MiSans/MiSans-Regular/MiSans-Regular.ttf') format('truetype'),
    url('/fonts/MiSans/MiSans-Regular/MiSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MiSans Medium';
    -webkit-font-feature-settings: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/MiSans/MiSans-Medium/MiSans-Medium.woff2') format('woff2'),
    url('/fonts/MiSans/MiSans-Medium/MiSans-Medium.woff') format('woff'),
    url('/fonts/MiSans/MiSans-Medium/MiSans-Medium.ttf') format('truetype'),
    url('/fonts/MiSans/MiSans-Medium/MiSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Inter Display';
    -webkit-font-feature-settings: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/Inter/Inter-Display/InterDisplay-Medium.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Display/InterDisplay-Medium.otf') format('opentype'),
    url('/fonts/Inter/Inter-Display/InterDisplay-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Text';
    -webkit-font-feature-settings: normal;
    font-weight: normal;
    src: url('/fonts/Inter/Inter-Text/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Text/Inter-Medium.otf') format('opentype'),
    url('/fonts/Inter/Inter-Text/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    -webkit-font-feature-settings: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/JetBrains-Mono/JetBrainsMono-Regular.woff2') format('woff2'),
    url('/fonts/JetBrains-Mono/JetBrainsMono-Regular.woff') format('woff'),
    url('/fonts/JetBrains-Mono/JetBrainsMono-Regular.ttf') format('truetype'),
    url('/fonts/JetBrains-Mono/JetBrainsMono-Regular.eot') format('embedded-opentype'),
    url('/fonts/JetBrains-Mono/JetBrainsMono-Regular.svg') format('svg');
}

:root {
    /* Global Colors */
    --theme-text-color: v.$theme-text-color;
    --theme-background-color: v.$theme-background-color;
    --sidebar-width: v.$sidebar-width;
    --button-margin: v.$button-margin;
    --button-padding-top: v.$button-padding-top;
    --button-padding-left: v.$button-padding-left;
    --button-font-size: v.$button-font-size;
}


/* Global Styles: Default for English */
body {
    h1, h2, h3, h4, h5, h6 {
        font-family: v.$header-en-font;
        font-weight: normal;
    }
    
    p, a, li, table, th, td, button {
        font-family: v.$body-en-font;
        font-weight: normal;
    }
}


/* Chinese Font Styles */
.zh-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: v.$header-zh-font;
        font-weight: normal;
    }
    
    p, a, li, table, th, td, button {
        font-family: v.$body-zh-font;
        font-weight: normal;
    }
}

body {
    background-color: v.$theme-background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}