---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';

import "../styles/pages-styles/main.css";

const pageTitle = 'Computer Science Study Notes';
---

<BaseLayout title={pageTitle}>
	<div class="title-introduction">
		<h1>{pageTitle}</h1>
		<p>A Website for My CS Self-Learning Notes</p>
			<div class="button-container">
				<Button children="Get Started" link="/posts/post-1/"></Button>
				<a href="https://github.com/kekeandzeyu/Computer-Science-Study-Notes" id="github-explore">Explore More in GitHub</a>
			</div>
		</div>

		<div class="details">

			<div class="introduction">
				<img src="/assets/photo.png" alt="Favicon"/>
				<div class="introduction-text">
					<h2>Introduction</h2>
					<p>New to this website and the notes? Want to learn about the background behind these notes?</p>
					<Button link="/introduction/" children="Learn More"></Button>
				</div>
			</div>


			<div class="notes-container">
				<div class="notes-container-text">
					<h2>Notes</h2>
					<p>The notes will keep updating as I learn. Feel free to come back at any time!</p>
					<Button link="/posts/database-system/" children="View Notes"></Button>
				</div>
				<img src="/assets/photo.png" alt="Favicon"/>
			</div>

			<div class="author">
				<img src="/assets/photo1.jpg" alt="My Photo"/>
				<div class="author-text">
					<h2>About Me</h2>
					<p>Want to know more about me? Click the button below to learn more!</p>
					<Button link="https://kkzy.pages.dev/" children="About Me"></Button>
				</div>
			</div>

			<div class="summary">
				<h2>"If you have knowledge, let others light their candles at it!"</h2>
				<p>— Margaret Fuller</p>
				<div class="button-collector">
					<Button link="/notes/database" children="Get Started"></Button>
					<Button link="https://github.com/kekeandzeyu/Computer-Science-Study-Notes" children="Contribute to it"></Button>
				</div>

			</div>

		</div>


		<script>
			document.addEventListener('DOMContentLoaded', () => { 
        		const sections = document.querySelectorAll('.title-introduction, .introduction, .notes-container, .author, .summary');
        		const observer = new IntersectionObserver(entries => {
            		entries.forEach(entry => {
						if (entry.isIntersecting) {
							entry.target.classList.add('active');
						}
           			});
        		}, {
          			threshold: 0.5, 
        		});

        		sections.forEach(section => {
        			observer.observe(section);
        		})
			});
		</script>
</BaseLayout>