---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import '../styles/pages-styles/introduction.css';

const pageTitle = "Introduction";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <BaseLayout title={pageTitle}>
            <div class="introduction">
                <h1>Introduction</h1>
                <p>We are all lost stars, trying to light up the dark.</p>
            </div>

            <div class="intention-background">
                <h2>Intention & Background</h2>
                <p>When I began to study in the Physics Department of Peking University, I found myself not intersted in
                    my major at all. During the period of exploring and learning, I was really surprised to realize I
                    was keen on computer science. So I stepped on a journey to learn relative courses by myself, hoping
                    that one day I may also make some contribution to this aspect. However, it's easier said than done.
                    I met with tons of bewildering problems during this process, which made me doubt whether I really
                    could learn by myself, and whether I could eventually succeed.</p>
                <p>Thankfully, I turned to one of my CS teacher for help, who helped me with ardor and recommended me
                    with two senior students. One told me the secret to his success in his research area; another
                    introduced me with the cs-self-learning repository. Both the teacher and those two seniors fueled
                    the light of hope with their selflessness. I began to study by myself again.</p>
                <p>I took down notes carefully when studying. With the the content of my notes getting more and more, I
                    suddenly thought:"Hey, wouldn't it be nice to integrate all the course notes I've taken and publish
                    them on my website, so that others may refer to this when they are stuck like me?" That is how this
                    note comes with luck. </p>
                <p>These notes may not be that accurate and perfect as you wish, but I will try my best to make them
                    better. If you have great ideas or would like to add more notes and thoughts, please contribute to
                    it to make it better!</p>
            </div>

            <div class="contribution">
                <h2>Contribution to The Notes</h2>
                <p>All kinds of contributions, including opening issues & pulling request, are welcome! The notes are \
                    meant to help more people!</p>

                <p>You can help refine this documentation by:</p>

                <ol>
                    <li>Open an issue</li>
                    <li>Pull request</li>
                    <li>Use <a href="kekeandzeyu@gmail.com" type="email">email</a> to contact me and point out the mistakes</li>
                </ol>
            </div>
        </BaseLayout>

        <script>
            document.addEventListener('DOMContentLoaded', () => { 
        		const sections = document.querySelectorAll('.introduction');
        		const observer = new IntersectionObserver(entries => {
            		entries.forEach(entry => {
						if (entry.isIntersecting) {
							entry.target.classList.add('active');
						}
           			});
        		}, {
          			threshold: 0.5, 
        		});

        		sections.forEach(section => {
        			observer.observe(section);
        		})
			});
        </script>
    </body>
</html>