---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import "../styles/pages-styles/introduction.css";

const pageTitle = "Introduction";
---

<BaseLayout title={pageTitle}>
    <div class="en-content" style="display: flex; flex-direction: column;">
        <div class="introduction">
            <h1>{pageTitle}</h1>
            <p>We are all lost stars, trying to light up the dark.</p>
        </div>

        <div class="intention-background">
            <h2>Intention & Background</h2>

            <p>
                When I began to study in the Physics Department of Peking
                University, I found myself not intersted in my major at all. During
                the period of exploring and learning, I was really surprised to
                realize I was keen on computer science. So I stepped on a journey to
                learn relative courses by myself, hoping that one day I may also
                make some contribution to this aspect. However, it's easier said
                than done. I met with tons of bewildering problems during this
                process, which made me doubt whether I really could learn by myself,
                and whether I could eventually succeed.
            </p>
            <p>
                Thankfully, I turned to one of my CS teacher for help, who helped me
                with ardor and recommended me with two senior students. One told me
                the secret to his success in his research area; another introduced
                me with the cs-self-learning repository. Both the teacher and those
                two seniors fueled the light of hope with their selflessness. I
                began to study by myself again.
            </p>
            <p>
                I took down notes carefully when studying. With the the content of
                my notes getting more and more, I suddenly thought:"Hey, wouldn't it
                be nice to integrate all the course notes I've taken and publish
                them on my website, so that others may refer to this when they are
                stuck like me?" That is how this note comes with luck.
            </p>
            <p>
                These notes may not be that accurate and perfect as you wish, but I
                will try my best to make them better. If you have great ideas or
                would like to add more notes and thoughts, please contribute to it
                to make it better!
            </p>
        </div>

        <div class="contribution">
            <h2>Contribution to The Notes</h2>

            <p>All kinds of contributions are welcome! You can help refine this documentation by:</p>

            <div class="contribution-types">
                <div class="open-issue">
                    <a href="https://github.com/kekeandzeyu/Computer-Science-Study-Notes/issues">
                        <div class="open-issue-icon">
                            <img src="/assets/introduction/open-issue.svg" alt="Open an Issue"/>
                        </div>
                        <h3>Open an Issue</h3>
                    </a>
                </div>

                <div class="pull-request">
                    <a href="https://github.com/kekeandzeyu/Computer-Science-Study-Notes/pulls">
                        <div class="pull-request-icon">
                            <img src="/assets/introduction/pull-request.svg" alt="Pull Request"/>
                        </div>
                        <h3>Pull Request</h3>
                    </a>
                </div>

                <div class="mail">
                    <a href="mailto:kekeandzeyu@gmail.com">
                        <div class="mail-icon">
                            <img src="/assets/introduction/mail.svg" alt="Edit this Page"/>
                        </div>
                        <h3>Send an Email</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="zh-content" style="display: none;">
        <div class="introduction">
            <h1>{pageTitle}</h1>
            <p>我们都是迷失在璀璨梦境中的繁星，不顾一切只为点亮黑暗。</p>
        </div>

        <div class="intention-background">
            <h2>目的与背景</h2>
            <p>
                当我进入北大的物理学院学习以后，我发现对自己所学的专业兴趣不高。在学习与探索的过程中，我惊喜地发现自己对计算机
                科学兴趣浓厚。于是，我开始自学计算机相关课程，希望以后能在相关领域有所作为。然而，立志容易成志难。在自学的道路
                上，我遇到了许多令自己感到迷茫的问题。踌躇不前的我开始怀疑自己是否具备自学能力，也担忧自己能否自学成功。
            </p>
            <p>
                万幸的是，我及时向自己的一位信科老师求助，老师热情的向我指点迷津，又向我推荐两位特别优秀的学长，让他们向我传授自
                己如何取得成功的经历。一位学长向我讲述自己在学术研究取得成功的秘诀，另一位学长向我推荐了CS自学指南。老师和学长用
                他们的倾囊相助，点燃我心中希望之光，我开始了自己的漫漫自学之路。
            </p>
            <p>
                学习中，我详细地记录了学习笔记。随着笔记内容的不断增多，我突发奇想：“如果能把我所有自学的笔记整合起来，发布在自己
                的网页上，帮助像自己一样曾经止步不前的同行者，该有多好！”
            </p>
            <p>
                于是，这份笔记就幸运地诞生了，它也许并不向您期许的那样精准完美，但我会竭尽全力使这份笔记内容日渐完美。
            </p>
        </div>

        <div class="contribution">
            <h2>为笔记做贡献</h2>

            <p>欢迎各种形式的贡献！您可以通过以下方式帮助完善这份文档：</p>

            <div class="contribution-types">
                <div class="open-issue">
                    <a href="https://github.com/kekeandzeyu/Computer-Science-Study-Notes/issues">
                        <div class="open-issue-icon">
                            <img src="/assets/introduction/open-issue.svg" alt="Open an Issue"/>
                        </div>
                        <h3>提出Issue</h3>
                    </a>
                </div>
    
                <div class="pull-request">
                    <a href="https://github.com/kekeandzeyu/Computer-Science-Study-Notes/pulls">
                        <div class="pull-request-icon">
                            <img src="/assets/introduction/pull-request.svg" alt="Pull Request"/>
                        </div>
                        <h3>发起和并请求</h3>
                    </a>
                </div>
    
                <div class="mail">
                    <a href="mailto:kekeandzeyu@gmail.com">
                        <div class="mail-icon">
                            <img src="/assets/introduction/mail.svg" alt="Edit this Page"/>
                        </div>
                        <h3>向我发送邮件</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../scripts/language-switch.js"></script>
    <script src="../scripts/introduction.js"></script>
</BaseLayout>
