---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = 'Astro Learning Blog';
---

<BaseLayout title={pageTitle}>
	<div class="introduction">
        <h1>Get Started</h1>
        <p>We are all lost stars, trying to light up the dark.</p>
        <p>我们都是迷失在璀璨梦境中的繁星，不顾一切只为点亮黑暗。</p>
    </div>
</BaseLayout>
        