---
import '../styles/component-styles/Navigation.css';
---

<nav class="header">
    <a href="/">Home</a>
    <a href="/introduction/">Introduction</a>
    <a href="/notes/database">Notes</a>
</nav>
