---
import '../styles/component-styles/Navigation.css';
---

<nav class="header">
    <a href="/">Home</a>
    <a href="/introduction/">Introduction</a>
    <a href="/notes/">Notes</a>

    <div class="language-switcher">
        <button class="tab-button active" data-tab="en">EN</button>
        <button class="tab-button" data-tab="zh">中</button>
    </div>
</nav>
