---
const { hideLangSwitcher } = Astro.props;
import '../styles/component-styles/Navigation.scss';
---

<nav class="header">
    <a href="/">Home</a>
    <a href="/introduction/">Introduction</a>
    <a href="/notes/">Notes</a>

    { !hideLangSwitcher && (
      <div class="language-switcher">
          <button class="tab-button active" data-tab="en">EN</button>
          <button class="tab-button" data-tab="zh">中</button>
      </div>
    ) }
</nav>
