@use '../variables' as v;

.aside-container {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border-left: 4px solid;

    .aside-title {
        display: flex;
        flex-direction: row;
        align-items: center; 
        margin-bottom: 0.5rem;

        p {
            margin: 0;
        }
    }

    .aside-icon {
        margin-right: 0.5rem;
        font-size: 1.2rem;
        line-height: 1;
    }
}

.aside-content {
    flex: 1; 
}

/* Default Aside style */
.default-aside {
    border-color: v.$color-aside-primary;
    background-color: v.$color-aside-primary-light;
}

/* Note style */
.note-aside {
    border-color: v.$color-aside-note;
    background-color: v.$color-aside-note-light;
}

/* Warning style */
.warning-aside {
    border-color: v.$color-aside-warning;
    background-color: v.$color-aside-warning-light;
}