.code-container {
    position: relative;
    background-color: rgba(25, 25, 28, 0.05) !important;
    font-family: var(--code-font);
    font-size: 16px;
    border-radius: 12px;
    padding: 0.5rem;
}

.code-container-lang {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.code-container p {
    margin: 0;
    padding: 0;
}