@use '../variables' as v;

.footer {
    width: 100%;
    background-color: v.$theme-background-color;
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
    text-align: center;
    border-radius: 12px;
    z-index: 2;
}

.footer p {
    font-size: 1rem;
    padding: 0;
}