.footer {
    background-color: rgba(245, 243, 253, 0.8);
    color: black;
    text-align: center;
    border-radius: 12px;
    margin-top: auto;
}

.footer p {
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1rem;
    padding: 8px 0 8px 0;
}