.footer {
    background-color: rgba(245, 243, 253);
    color: black;
    text-align: center;
    border-radius: 12px;
    margin-top: auto;
    z-index: 2;
}

.footer p {
    font-size: 1rem;
    padding: 8px 0 8px 0;
}