@use '../variables' as v;

.header {
    width: 100%;
    margin: 0px auto;
    border-radius: 12px;
    background-color: v.$theme-background-color;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;

    a {
        font-size: 20px;
        color: black;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: color 0.5s ease;

        &:hover {
            color: v.$theme-text-color;
        }
    }
}

.language-switcher {
    background-color: rgba(245, 243, 253, 0.8);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    position: relative;
}

.tab-button {
    background-color: #f2f2f2;
    border: 0;
    padding: 4px 8px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #899099;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;

    &.active {
        color: #6b717a;
        border-radius: 15px;
        background-color: transparent;

        &::before {
            content: "";
            position: absolute;
            top: 10%;
            bottom: 10%;
            background-color: white;
            border-radius: 12px;
            z-index: -1;
            left: 0;
            right: 0;
        }

        &[data-tab="en"]::before {
            left: 5%;
            right: 0;
        }

        &[data-tab="zh"]::before {
            left: 0;
            right: 5%;
        }
    }
}
