/**
 * Note.css: Styles of Note Part in Note Content
 */
div.Note {
    padding: 20px;
    background-color: rgba(255, 235, 130, 0.2);
    border-radius: 8px;
    margin: 20px 0;
}

div.Note h3 {
    margin: 24px 0 0;
    font-size: 24px;
}