@use '../variables' as v;

.my-button-class {
    position: relative;
    padding: 0.5em 1em;
    margin-right: 1em; 
    border: none;
    background-color: transparent; 
    cursor: pointer;
    transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out; 
  
    &:hover,
    &[selected] { 
        color: v.$theme-text-color; 
        border-bottom: 1px solid v.$theme-text-color;
    }
}