---
import BaseLayout from '../layouts/BaseLayout.astro';

import "../styles/global.css";
import "../styles/pages-styles/notes.css";

const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
    <div class="main-content">

        <nav class="sidebar">
            <div class="sidebar-content">
                <ul>
                    <li class="sidebar-link"><a href="/Notes/database/">Database System</a></li>
                    <li class="sidebar-link"><a href="/Notes/post-2/">Data Structures and Algorithms</a></li>
                    <li class="sidebar-link"><a href="/Notes/post-3/">Artificial Intelligence</a></li>
                </ul>
            </div>
        </nav>

        <main class="notes-content">
            <h1>{frontmatter.title}</h1>
            <p id="last-modified">Last Modified: {new Date().toLocaleDateString()}</p>
            <slot/>
        </main>
    </div>
</BaseLayout>